<!-- A template that contains three different instances of the infinite scroll directive. This is meant to demonstrate the modularity of the directive
 -->

<div class="container">

  <div class="col-md-4">
    <h1>Scroller One</h1>
    <scroller contents="dataA" title="'dataA'" limit=10></scroller>
  </div>

  <div class="col-md-4">
    <h1>Scroller Two</h1>
    <scroller contents="dataB" title="'dataB'" limit=20></scroller>
  </div>

  <div class="col-md-4">
    <h1> Scroller Three</h1>
    <scroller contents="dataC" title="'dataC'" limit=20></scroller>
  </div>

</div>